{
  "plugins": ["import", "react"],

  "extends": ["airbnb", "react-app"],

  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"]
      }
    }
  },

  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
          "jsx": true
        },

        "warnOnUnsupportedTypeScriptVersion": true
      },
      "plugins": ["@typescript-eslint"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "rules": {
        "@typescript-eslint/member-delimiter-style": [
          "warn",
          {
            "multiline": {
              "delimiter": "none"
            }
          }
        ],
        "@typescript-eslint/explicit-function-return-type": "off",
        "react/jsx-wrap-multilines": "warn"
      }
    }
  ],

  "rules": {
    "arrow-parens": ["warn", "as-needed"],
    "comma-dangle": ["error", "never"],
    "eol-last": "warn",
    "import/extensions": [
      "warn",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/prefer-default-export": "warn",
    "object-curly-newline": "off",
    "spaced-comment": ["error", "always", { "markers": ["/"] }],
    "react/jsx-one-expression-per-line": "off",
    "linebreak-style": "off",
    "no-undef": "error",
    "no-param-reassign": ["error", { "props": false }],
    "quotes": [
      "warn",
      "single",
      {
        "allowTemplateLiterals": false,
        "avoidEscape": true
      }
    ],
    "react/jsx-max-props-per-line": [
      "warn",
      {
        "maximum": 8
      }
    ],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx", ".tsx"] }],
    "react/no-did-mount-set-state": "error",
    "react/no-did-update-set-state": "error",
    "react/prefer-es6-class": ["error", "always"],
    "react/prefer-stateless-function": "off",
    "react/jsx-wrap-multilines": [
      "warn",
      {
        "declaration": "parens",
        "assignment": "parens",
        "return": "parens",
        "arrow": "parens",
        "condition": "ignore",
        "logical": "ignore",
        "prop": "ignore"
      }
    ],
    "semi": ["error", "never"]
  }
}
